@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div ng-app="budget_planner">
        <div class="container">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a ui-sref="home">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="login">Login</a>
                    </li>
                </ul>
            </div>

            <div ui-view></div>
        </div>


    </div>

    <!-- begin angular -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    <script src="~/Scripts/angular-local-storage.min.js"></script>


    <!-- begin app | services -->
    <script src="~/App/app.js"></script>
    <script src="~/App/services/auth/authSvc.js"></script>
    <script src="~/App/services/auth/authInterceptorSvc.js"></script>


    <script src="~/App/services/house/houseSvc.js"></script><!-- household -->
    <script src="~/App/services/house/houseAccountSvc.js"></script><!-- account -->

    <!-- begin controllers -->
    <script src="~/app/controllers/loginCtrl.js"></script>
    <script src="~/app/controllers/house/homeCtrl.js"></script>
    <script src="~/App/controllers/house/houseCtrl.js"></script><!-- household -->
    <script src="~/App/controllers/house/houseAccountCtrl.js"></script><!-- account -->
</body>
</html>
